@font-face {
  font-family: betazed;
  src: url('/svelte/font/betazed.otf') format('woff2'), url('/svelte/font/betazed.otf') format('woff');
}

// 外星文
html[lang='en'] {
  * {
    font-family: betazed, sans-serif;
  }
}

html,
body {
  @apply bg-black;
}

canvas {
  @apply w-full h-full;
}
