@font-face {
  font-family: betazed;
  src: url('#{$assets_url}/font/betazed.otf') format('woff2'), url('#{$assets_url}/font/betazed.otf') format('woff');
}

html {
  @apply bg-zinc-900;
  //字體
  font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  &[lang='en'] * {
    font-family: betazed, sans-serif;
  }
}

body {
  @media (min-width: 1024px) {
    background-image: url('#{$assets_url}/polygon-black.jpg');
    @apply bg-fixed bg-cover bg-center;
  }
}

#__nuxt {
  @apply contents;
}
.layout {
  @apply contents;

  &.layout-enter-active,
  &.layout-leave-active {
    display: block;
  }
}

.page,
.layout {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s linear;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    filter: blur(0.25rem);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
