@font-face {
  font-family: betazed;
  src: url('/react/font/betazed.otf') format('woff2'), url('/vue/react/betazed.otf') format('woff');
}

// 外星文
html[lang='en'] {
  * {
    font-family: betazed, sans-serif;
  }
}
