 *,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}.container{width:100%;}.bg-white{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}.dark .bg-white{--un-bg-opacity:1;background-color:rgba(254,253,221,var(--un-bg-opacity));}.dark .text-white{--un-text-opacity:1;color:rgba(254,253,221,var(--un-text-opacity));}.text-white{--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}@media (min-width: 640px){.container{max-width:640px;}}@media (min-width: 768px){.container{max-width:768px;}}@media (min-width: 1024px){.container{max-width:1024px;}}@media (min-width: 1280px){.container{max-width:1280px;}}@media (min-width: 1536px){.container{max-width:1536px;}}.absolute{position:absolute;}.fixed{position:fixed;}.relative{position:relative;}.sticky{position:sticky;}.-bottom-4{bottom:-1rem;}.-right-4{right:-1rem;}.bottom-0{bottom:0;}.left-0{left:0;}.left-1\/2{left:50%;}.top-0{top:0;}.top-1\/2{top:50%;}.top-10{top:2.5rem;}.top-3\.5\/10{top:35%;}.top-6\.5\/10{top:65%;}.z-0{z-index:0;}.z-10{z-index:10;}.z-50{z-index:50;}.m-0{margin:0;}.m-1{margin:0.25rem;}.mx-3{margin-left:0.75rem;margin-right:0.75rem;}.mx-auto{margin-left:auto;margin-right:auto;}.my-1{margin-top:0.25rem;margin-bottom:0.25rem;}.-mb-1{margin-bottom:-0.25rem;}.-mt-20{margin-top:-5rem;}.-mt-4{margin-top:-1rem;}.mb-2{margin-bottom:0.5rem;}.mb-3{margin-bottom:0.75rem;}.mb-4{margin-bottom:1rem;}.ml-2{margin-left:0.5rem;}.ml-24{margin-left:6rem;}.ml-4\.5{margin-left:1.125rem;}.mr-2{margin-right:0.5rem;}.mt-1{margin-top:0.25rem;}.mt-2{margin-top:0.5rem;}.mt-4{margin-top:1rem;}.mt-4\.5{margin-top:1.125rem;}.inline-block{display:inline-block;}.hidden{display:none;}.group:hover .group-hover\:h-1,.h-1{height:0.25rem;}.group:hover .group-hover\:h-2{height:0.5rem;}.h-0{height:0;}.h-0\.5{height:0.125rem;}.h-0\.75{height:0.1875rem;}.h-10{height:2.5rem;}.h-100vh{height:100vh;}.h-130{height:32.5rem;}.h-16\.5{height:4.125rem;}.h-20{height:5rem;}.h-200vh{height:200vh;}.h-21vh{height:21vh;}.h-28{height:7rem;}.h-300vh{height:300vh;}.h-300vw{height:300vw;}.h-36{height:9rem;}.h-4{height:1rem;}.h-40{height:10rem;}.h-400vh{height:400vh;}.h-6{height:1.5rem;}.h-600vh{height:600vh;}.h-7\.5{height:1.875rem;}.h-8{height:2rem;}.h-9{height:2.25rem;}.h-full{height:100%;}.max-w-100{max-width:25rem;}.max-w-256{max-width:64rem;}.max-w-70{max-width:17.5rem;}.min-h-400vh{min-height:400vh;}.w-0{width:0;}.w-12{width:3rem;}.w-20{width:5rem;}.w-3{width:0.75rem;}.w-300vw{width:300vw;}.w-4{width:1rem;}.w-40{width:10rem;}.w-5{width:1.25rem;}.w-6{width:1.5rem;}.w-7{width:1.75rem;}.w-8{width:2rem;}.w-9{width:2.25rem;}.w-auto{width:auto;}.w-full{width:100%;}.flex{display:flex;}.flex-1{flex:1 1 0%;}.flex-none{flex:none;}.flex-shrink-0{flex-shrink:0;}.flex-col{flex-direction:column;}.flex-wrap{flex-wrap:wrap;}.flex-nowrap{flex-wrap:nowrap;}.origin-top{transform-origin:top;}.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.-translate-y-1\/2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.group:hover .group-hover\:scale-110{--un-scale-x:1.1;--un-scale-y:1.1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.scale-50{--un-scale-x:0.5;--un-scale-y:0.5;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}.scale-80{--un-scale-x:0.8;--un-scale-y:0.8;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}@keyframes ping{0%{transform:scale(1);opacity:1}75%,100%{transform:scale(2);opacity:0}}@keyframes spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}.animate-ping{animation:ping 1s cubic-bezier(0,0,.2,1) infinite;}.animate-spin{animation:spin 1s linear infinite;}.animate-duration-11s{animation-duration:11s;}.animate-duration-3s{animation-duration:3s;}.animate-duration-5s{animation-duration:5s;}.animate-duration-7s{animation-duration:7s;}.animate-delay-0\.1s{animation-delay:0.1s;}.animate-delay-0\.3s{animation-delay:0.3s;}.animate-delay-0\.5s{animation-delay:0.5s;}.cursor-pointer{cursor:pointer;}.select-none{user-select:none;}.items-start{align-items:flex-start;}.items-center{align-items:center;}.justify-start{justify-content:flex-start;}.justify-center{justify-content:center;}.justify-between{justify-content:space-between;}.overflow-hidden{overflow:hidden;}.overflow-x-auto{overflow-x:auto;}.overflow-y-hidden{overflow-y:hidden;}.whitespace-nowrap{white-space:nowrap;}.whitespace-pre{white-space:pre;}.border-1{border-width:1px;}.border-b-4{border-bottom-width:4px;}.border-l-4{border-left-width:4px;}.border-r-2{border-right-width:2px;}.border-r-4{border-right-width:4px;}.border-t-4{border-top-width:4px;}.border-gray-100{--un-border-opacity:1;border-color:rgba(243,244,246,var(--un-border-opacity));}.border-zinc-700{--un-border-opacity:1;border-color:rgba(63,63,70,var(--un-border-opacity));}.dark .dark\:border-gray-700{--un-border-opacity:1;border-color:rgba(55,65,81,var(--un-border-opacity));}.rounded,.rounded-1{border-radius:0.25rem;}.rounded-1\.5{border-radius:0.375rem;}.rounded-3{border-radius:0.75rem;}.rounded-47\%{border-radius:47%;}.rounded-full{border-radius:9999px;}.rounded-l{border-top-left-radius:0.25rem;border-bottom-left-radius:0.25rem;}.rounded-l-1\.5{border-top-left-radius:0.375rem;border-bottom-left-radius:0.375rem;}.rounded-r{border-top-right-radius:0.25rem;border-bottom-right-radius:0.25rem;}.rounded-t-2{border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;}.first\:rounded-tr-50px:first-child{border-top-right-radius:50px;}.rounded-br-50px{border-bottom-right-radius:50px;}.rounded-lb-2{border-bottom-left-radius:0.5rem;}.rounded-rt-2{border-top-right-radius:0.5rem;}.bg-\#1d1c19,.dark .dark\:bg-\#1d1c19{--un-bg-opacity:1;background-color:rgba(29,28,25,var(--un-bg-opacity));}.bg-\#ffffff{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}.bg-emerald-500{--un-bg-opacity:1;background-color:rgba(16,185,129,var(--un-bg-opacity));}.bg-gray-100{--un-bg-opacity:1;background-color:rgba(243,244,246,var(--un-bg-opacity));}.bg-gray-200{--un-bg-opacity:1;background-color:rgba(229,231,235,var(--un-bg-opacity));}.bg-gray-50{--un-bg-opacity:1;background-color:rgba(249,250,251,var(--un-bg-opacity));}.bg-rose-600{--un-bg-opacity:1;background-color:rgba(225,29,72,var(--un-bg-opacity));}.bg-sky-500{--un-bg-opacity:1;background-color:rgba(14,165,233,var(--un-bg-opacity));}.bg-zinc-500{--un-bg-opacity:1;background-color:rgba(113,113,122,var(--un-bg-opacity));}.bg-zinc-600,.dark .dark\:bg-zinc-600,.hover\:bg-zinc-600:hover{--un-bg-opacity:1;background-color:rgba(82,82,91,var(--un-bg-opacity));}.bg-zinc-700,.dark .dark\:bg-zinc-700{--un-bg-opacity:1;background-color:rgba(63,63,70,var(--un-bg-opacity));}.bg-zinc-800{--un-bg-opacity:1;background-color:rgba(39,39,42,var(--un-bg-opacity));}.dark .dark\:bg-\#fefddd{--un-bg-opacity:1;background-color:rgba(254,253,221,var(--un-bg-opacity));}.from-zinc-600{--un-gradient-from:rgba(82,82,91,var(--un-from-opacity, 1));--un-gradient-to:rgba(82,82,91,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}.from-zinc-800{--un-gradient-from:rgba(39,39,42,var(--un-from-opacity, 1));--un-gradient-to:rgba(39,39,42,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}.from-zinc-900{--un-gradient-from:rgba(24,24,27,var(--un-from-opacity, 1));--un-gradient-to:rgba(24,24,27,0);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}.to-neutral-500{--un-gradient-to:rgba(115,115,115,var(--un-to-opacity, 1));}.to-zinc-600{--un-gradient-to:rgba(82,82,91,var(--un-to-opacity, 1));}.to-zinc-700{--un-gradient-to:rgba(63,63,70,var(--un-to-opacity, 1));}.bg-gradient-to-b{--un-gradient-shape:to bottom;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}.bg-gradient-to-r{--un-gradient-shape:to right;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}.bg-gradient-to-t{--un-gradient-shape:to top;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}.bg-cover{background-size:cover;}.bg-center{background-position:center;}.dark .dark\:fill-\#fefddd{--un-fill-opacity:1;fill:rgba(254,253,221,var(--un-fill-opacity));}.fill-\#fb3c01{--un-fill-opacity:1;fill:rgba(251,60,1,var(--un-fill-opacity));}.fill-white{--un-fill-opacity:1;fill:rgba(255,255,255,var(--un-fill-opacity));}.p-0\.5{padding:0.125rem;}.p-1\.5{padding:0.375rem;}.p-2{padding:0.5rem;}.px-2{padding-left:0.5rem;padding-right:0.5rem;}.px-3{padding-left:0.75rem;padding-right:0.75rem;}.py-0\.5{padding-top:0.125rem;padding-bottom:0.125rem;}.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}.pb-2{padding-bottom:0.5rem;}.pb-3{padding-bottom:0.75rem;}.pb-7{padding-bottom:1.75rem;}.pl-4{padding-left:1rem;}.pl-8{padding-left:2rem;}.pr-1{padding-right:0.25rem;}.pr-2{padding-right:0.5rem;}.pt-12{padding-top:3rem;}.pt-18{padding-top:4.5rem;}.pt-40vh{padding-top:40vh;}.text-center{text-align:center;}.text-right{text-align:right;}.text-10{font-size:2.5rem;}.text-3{font-size:0.75rem;}.text-4{font-size:1rem;}.text-5{font-size:1.25rem;}.font-black{font-weight:900;}.font-bold{font-weight:700;}.font-medium{font-weight:500;}.leading-0{line-height:0;}.leading-10{line-height:2.5rem;}.leading-4{line-height:1rem;}.color-rose-600{--un-text-opacity:1;color:rgba(225,29,72,var(--un-text-opacity));}.dark .dark\:color-\#fefddd{--un-text-opacity:1;color:rgba(254,253,221,var(--un-text-opacity));}.text-black{--un-text-opacity:1;color:rgba(0,0,0,var(--un-text-opacity));}.text-gray-500{--un-text-opacity:1;color:rgba(107,114,128,var(--un-text-opacity));}.text-gray-700{--un-text-opacity:1;color:rgba(55,65,81,var(--un-text-opacity));}.text-zinc-600{--un-text-opacity:1;color:rgba(82,82,91,var(--un-text-opacity));}.opacity-0{opacity:0;}.opacity-80{opacity:0.8;}.opacity-90{opacity:0.9;}.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgba(0,0,0,0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}.shadow-md{--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgba(0,0,0,0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}.dark .dark\:brightness-75{--un-brightness:brightness(0.75);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.transition-height{transition-property:height;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}.transition-margin{transition-property:margin;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}@media (min-width: 640px){.sm\:mr-3{margin-right:0.75rem;}.sm\:inline-block{display:inline-block;}}@media (min-width: 768px){.md\:static{position:static;}.md\:mx-3{margin-left:0.75rem;margin-right:0.75rem;}.md\:ml-2{margin-left:0.5rem;}.md\:mt-0{margin-top:0;}.md\:inline-block{display:inline-block;}.md\:hidden{display:none;}.md\:h-10{height:2.5rem;}.md\:h-4{height:1rem;}.md\:w-0\.5{width:0.125rem;}.md\:w-10{width:2.5rem;}.md\:w-unset{width:unset;}.md\:flex{display:flex;}.md\:flex-row{flex-direction:row;}.dark .dark\:md\:bg-transparent,.md\:bg-transparent{background-color:transparent;}.md\:px-3{padding-left:0.75rem;padding-right:0.75rem;}.md\:pb-0{padding-bottom:0;}.md\:pt-11{padding-top:2.75rem;}.md\:shadow-none{--un-shadow:0 0 var(--un-shadow-color, rgba(0,0,0,0));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}}@media (min-width: 1024px){.lg\:mb-0{margin-bottom:0;}.lg\:mb-4{margin-bottom:1rem;}.lg\:mb-6{margin-bottom:1.5rem;}.lg\:ml-10{margin-left:2.5rem;}.lg\:mt-5{margin-top:1.25rem;}.lg\:mt-5\.5{margin-top:1.375rem;}.lg\:block{display:block;}.lg\:h-12{height:3rem;}.lg\:h-30{height:7.5rem;}.lg\:h-40{height:10rem;}.lg\:h-65{height:16.25rem;}.lg\:h-9{height:2.25rem;}.lg\:max-w-180{max-width:45rem;}.lg\:w-30{width:7.5rem;}.lg\:w-6{width:1.5rem;}.lg\:w-65{width:16.25rem;}.lg\:w-9{width:2.25rem;}.lg\:flex-1{flex:1 1 0%;}.lg\:flex-none{flex:none;}.lg\:flex-row{flex-direction:row;}.lg\:origin-left{transform-origin:left;}.lg\:justify-center{justify-content:center;}.lg\:rounded-2{border-radius:0.5rem;}.lg\:p-5{padding:1.25rem;}.lg\:px-5{padding-left:1.25rem;padding-right:1.25rem;}.lg\:pb-5{padding-bottom:1.25rem;}.lg\:pr-3{padding-right:0.75rem;}.lg\:pt-12{padding-top:3rem;}.lg\:pt-5{padding-top:1.25rem;}.lg\:text-16{font-size:4rem;}.lg\:text-3\.5{font-size:0.875rem;}.lg\:text-4{font-size:1rem;}.lg\:text-5{font-size:1.25rem;}.lg\:text-6{font-size:1.5rem;}.lg\:text-7{font-size:1.75rem;}.lg\:leading-12{line-height:3rem;}.lg\:leading-16{line-height:4rem;}} /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

@font-face {
  font-family: betazed;
  src: url("/about-me-mix/assets/font/betazed.otf") format("woff2"), url("/about-me-mix/assets/font/betazed.otf") format("woff");
}
html {
  --un-bg-opacity:1;background-color:rgba(24,24,27,var(--un-bg-opacity));
  font-family: "Nunito", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html[lang=en] * {
  font-family: betazed, sans-serif;
}

@media (min-width: 1024px) {
  body {
    background-image: url("/about-me-mix/assets/polygon-black.jpg");
    background-size:cover;background-attachment:fixed;background-position:center;
  }
}