/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: shortcuts */
.container{width:100%;}
.container\!{width:100% !important;}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.dark .bg-white{--un-bg-opacity:1;background-color:rgb(254 253 221 / var(--un-bg-opacity));}
.dark .text-white{--un-text-opacity:1;color:rgb(254 253 221 / var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
@media (min-width: 640px){
.container{max-width:640px;}
.container\!{max-width:640px !important;}
}
@media (min-width: 768px){
.container{max-width:768px;}
.container\!{max-width:768px !important;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
.container\!{max-width:1024px !important;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
.container\!{max-width:1280px !important;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
.container\!{max-width:1536px !important;}
}
/* layer: default */
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.sticky{position:sticky;}
.bottom-0{bottom:0;}
.left-0{left:0;}
.left-1\/2{left:50%;}
.top-0{top:0;}
.top-10{top:2.5rem;}
.top-3\.5\/10{top:35%;}
.top-6\.5\/10{top:65%;}
.z-0{z-index:0;}
.z-10{z-index:10;}
.z-50{z-index:50;}
.z-60{z-index:60;}
.m-1{margin:0.25rem;}
.mx-3{margin-left:0.75rem;margin-right:0.75rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-1{margin-top:0.25rem;margin-bottom:0.25rem;}
.my-2{margin-top:0.5rem;margin-bottom:0.5rem;}
.-mb-1{margin-bottom:-0.25rem;}
.-mt-4{margin-top:-1rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-4{margin-bottom:1rem;}
.ml-2{margin-left:0.5rem;}
.ml-3{margin-left:0.75rem;}
.ml-4\.5{margin-left:1.125rem;}
.mr-2{margin-right:0.5rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.block{display:block;}
.inline-block{display:inline-block;}
.hidden{display:none;}
.h-0{height:0;}
.h-0\.5{height:0.125rem;}
.h-0\.75{height:0.1875rem;}
.h-1,
.h1,
.group:hover .group-hover\:h-1{height:0.25rem;}
.h-10{height:2.5rem;}
.h-100vh{height:100vh;}
.h-130{height:32.5rem;}
.h-200vh{height:200vh;}
.h-21vh{height:21vh;}
.h-36{height:9rem;}
.h-4{height:1rem;}
.h-40{height:10rem;}
.h-6{height:1.5rem;}
.h-7{height:1.75rem;}
.h-7\.5{height:1.875rem;}
.h-8{height:2rem;}
.h-9{height:2.25rem;}
.h-full{height:100%;}
.max-w-256{max-width:64rem;}
.min-h-400vh{min-height:400vh;}
.w-0{width:0;}
.w-12{width:3rem;}
.w-4{width:1rem;}
.w-40{width:10rem;}
.w-5{width:1.25rem;}
.w-6{width:1.5rem;}
.w-7{width:1.75rem;}
.w-8{width:2rem;}
.w-9{width:2.25rem;}
.w-auto{width:auto;}
.w-full{width:100%;}
.group:hover .group-hover\:h-2{height:0.5rem;}
.flex{display:flex;}
.flex-col{flex-direction:column;}
.-translate-x-1\/2{--un-translate-x:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-1\/2{--un-translate-y:-50%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-y-100\%{--un-translate-y:-100%;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.scale-50{--un-scale-x:0.5;--un-scale-y:0.5;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.group:hover .group-hover\:scale-110{--un-scale-x:1.1;--un-scale-y:1.1;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes ping{0%{transform:scale(1);opacity:1}75%,100%{transform:scale(2);opacity:0}}
.animate-ping{animation:ping 1s cubic-bezier(0,0,.2,1) infinite;}
.animate-duration-3s{animation-duration:3s;}
.animate-delay-0\.1s{animation-delay:0.1s;}
.animate-delay-0\.3s{animation-delay:0.3s;}
.animate-delay-0\.5s{animation-delay:0.5s;}
.cursor-pointer{cursor:pointer;}
.select-none{-webkit-user-select:none;user-select:none;}
.resize{resize:both;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.overflow-hidden{overflow:hidden;}
.whitespace-pre{white-space:pre;}
.border-1{border-width:1px;}
.border-gray-100{--un-border-opacity:1;border-color:rgb(243 244 246 / var(--un-border-opacity));}
.dark .dark\:border-gray-700{--un-border-opacity:1;border-color:rgb(55 65 81 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-1\.5{border-radius:0.375rem;}
.rounded-full{border-radius:9999px;}
.rounded-r{border-top-right-radius:0.25rem;border-bottom-right-radius:0.25rem;}
.rounded-t-2{border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;}
.rounded-br-50px{border-bottom-right-radius:50px;}
.first\:rounded-tr-50px:first-child{border-top-right-radius:50px;}
.bg-\#1d1c19,
.dark .dark\:bg-\#1d1c19{--un-bg-opacity:1;background-color:rgb(29 28 25 / var(--un-bg-opacity));}
.bg-\#ffffff{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.bg-emerald-500{--un-bg-opacity:1;background-color:rgb(16 185 129 / var(--un-bg-opacity));}
.bg-gray-100{--un-bg-opacity:1;background-color:rgb(243 244 246 / var(--un-bg-opacity));}
.bg-gray-200{--un-bg-opacity:1;background-color:rgb(229 231 235 / var(--un-bg-opacity));}
.bg-gray-50{--un-bg-opacity:1;background-color:rgb(249 250 251 / var(--un-bg-opacity));}
.bg-purple-500{--un-bg-opacity:1;background-color:rgb(168 85 247 / var(--un-bg-opacity));}
.bg-rose-600{--un-bg-opacity:1;background-color:rgb(225 29 72 / var(--un-bg-opacity));}
.bg-sky-500{--un-bg-opacity:1;background-color:rgb(14 165 233 / var(--un-bg-opacity));}
.bg-zinc-500{--un-bg-opacity:1;background-color:rgb(113 113 122 / var(--un-bg-opacity));}
.bg-zinc-600,
.dark .dark\:bg-zinc-600{--un-bg-opacity:1;background-color:rgb(82 82 91 / var(--un-bg-opacity));}
.bg-zinc-700,
.dark .dark\:bg-zinc-700{--un-bg-opacity:1;background-color:rgb(63 63 70 / var(--un-bg-opacity));}
.dark .dark\:bg-\#fefddd{--un-bg-opacity:1;background-color:rgb(254 253 221 / var(--un-bg-opacity));}
.dark .dark\:bg-purple-400{--un-bg-opacity:1;background-color:rgb(192 132 252 / var(--un-bg-opacity));}
.hover\:bg-gray-200:hover{--un-bg-opacity:1;background-color:rgb(229 231 235 / var(--un-bg-opacity));}
.bg-cover{background-size:cover;}
.bg-center{background-position:center;}
.dark .dark\:fill-\#fefddd{--un-fill-opacity:1;fill:rgb(254 253 221 / var(--un-fill-opacity));}
.fill-\#1B1F23{--un-fill-opacity:1;fill:rgb(27 31 35 / var(--un-fill-opacity));}
.p-0\.5{padding:0.125rem;}
.p-1\.5{padding:0.375rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.pb-3{padding-bottom:0.75rem;}
.pt-12{padding-top:3rem;}
.text-center{text-align:center;}
.text-4{font-size:1rem;}
.text-5{font-size:1.25rem;}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity));}
.text-gray-700{--un-text-opacity:1;color:rgb(55 65 81 / var(--un-text-opacity));}
.color-purple-500{--un-text-opacity:1;color:rgb(168 85 247 / var(--un-text-opacity));}
.dark .dark\:color-\#fefddd{--un-text-opacity:1;color:rgb(254 253 221 / var(--un-text-opacity));}
.dark .dark\:color-purple-400{--un-text-opacity:1;color:rgb(192 132 252 / var(--un-text-opacity));}
.font-black{font-weight:900;}
.font-medium{font-weight:500;}
.leading-10{line-height:2.5rem;}
.opacity-0{opacity:0;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-md{--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.dark .dark\:brightness-75{--un-brightness:brightness(0.75);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-height{transition-property:height;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-margin{transition-property:margin;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
@media (min-width: 640px){
.sm\:mr-3{margin-right:0.75rem;}
.sm\:inline-block{display:inline-block;}
}
@media (min-width: 768px){
.md\:static{position:static;}
.md\:mx-3{margin-left:0.75rem;margin-right:0.75rem;}
.md\:my-0{margin-top:0;margin-bottom:0;}
.md\:mb-0{margin-bottom:0;}
.md\:ml-2{margin-left:0.5rem;}
.md\:mt-0{margin-top:0;}
.md\:inline-block{display:inline-block;}
.md\:hidden{display:none;}
.md\:h-10{height:2.5rem;}
.md\:h-4{height:1rem;}
.md\:h-8{height:2rem;}
.md\:w-0\.5{width:0.125rem;}
.md\:w-10{width:2.5rem;}
.md\:w-unset{width:unset;}
.md\:flex{display:flex;}
.md\:flex-row{flex-direction:row;}
.dark .dark\:md\:bg-transparent,
.md\:bg-transparent{background-color:transparent;}
.md\:px-3{padding-left:0.75rem;padding-right:0.75rem;}
.md\:pb-0{padding-bottom:0;}
.md\:pt-11{padding-top:2.75rem;}
.md\:shadow-none{--un-shadow:0 0 var(--un-shadow-color, rgb(0 0 0 / 0));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
}
@media (min-width: 1024px){
.lg\:mb-4{margin-bottom:1rem;}
.lg\:mb-6{margin-bottom:1.5rem;}
.lg\:h-12{height:3rem;}
.lg\:h-42{height:10.5rem;}
.lg\:h-65{height:16.25rem;}
.lg\:h-9{height:2.25rem;}
.lg\:w-65{width:16.25rem;}
.lg\:w-9{width:2.25rem;}
.lg\:pt-12{padding-top:3rem;}
.lg\:text-5{font-size:1.25rem;}
.lg\:text-6{font-size:1.5rem;}
.lg\:text-7{font-size:1.75rem;}
.lg\:leading-12{line-height:3rem;}
}