<section class="min-h-400vh relative">
  <div #container class="dialogue w-full h-100vh sticky top-0 text-4 lg:text-6 overflow-hidden">
    <!--line bg-->
    <div *ngFor="let i of lines" class="dialogue__bg w-0 h-21vh -mb-1 bg-zinc-700 rounded-br-50px first:rounded-tr-50px"></div>
    <!--user icon-->
    <div class="absolute w-40 h-40 lg:w-65 lg:h-65 left-1/2 top-3.5/10 -translate-x-1/2 -translate-y-1/2">
      <div class="dialogue__avatar hidden opacity-0 scale-50 w-full h-full">
        <div class="absolute animate-ping rounded-full w-full h-full bg-zinc-700 animate-delay-0.1s animate-duration-3s"></div>
        <div class="absolute animate-ping rounded-full w-full h-full bg-zinc-600 animate-delay-0.3s animate-duration-3s"></div>
        <div class="absolute animate-ping rounded-full w-full h-full bg-zinc-500 animate-delay-0.5s animate-duration-3s"></div>
        <img [attr.src]="avatar" alt="" class="w-full h-full relative z-10" />
      </div>
    </div>
    <!--dialogue-->
    <div class="w-full absolute top-6.5/10 left-1/2 -translate-x-1/2 text-white flex flex-col items-center">
      <div class="dialogue__popup hidden">
        <p [ngStyle]="{ paddingLeft: '0rem' }" class="mb-2">
          <span *ngFor="let char of chat1" class="dialogue__char whitespace-pre inline-block opacity-0 scale-50">{{ char }}</span>
        </p>
        <p [ngStyle]="{ paddingLeft: '1rem' }" class="mb-2">
          <span *ngFor="let char of chat2" class="dialogue__char whitespace-pre inline-block opacity-0 scale-50">{{ char }}</span>
        </p>
        <p [ngStyle]="{ paddingLeft: '2rem' }" class="mb-2">
          <span *ngFor="let char of chat3" class="dialogue__char whitespace-pre inline-block opacity-0 scale-50">{{ char }}</span>
        </p>
      </div>
    </div>
  </div>
</section>
