<div (click)="onDropdownToggle($event, true)" class="w-8 h-8 md:w-10 md:h-10 my-2 md:my-0 md:ml-2 flex items-center justify-center cursor-pointer relative select-none">
  <!--current locale-->
  <img [src]="icon" alt="" class="w-8 lg:w-9 h-8 lg:h-9" />
  <!--mask-->
  <button *ngIf="show" (click)="onDropdownToggle($event, false)" class="fixed left-0 top-0 w-full h-full z-0"></button>
  <!--dropdown-->
  <div [@openClose]="show ? 'open' : 'closed'" class="absolute top-0 left-1/2 -translate-x-1/2 pt-12 md:pt-11 lg:pt-12 z-10 w-12">
    <div class="bg-white rounded-1.5 py-1 shadow-md">
      <ng-container *ngFor="let locale of locales">
        <button (click)="onLocaleSelect($event, locale)" class="hover:bg-gray-200 transition-colors p-1.5">
          <img [src]="iconMap.get(locale) || ''" alt="" class="w-9 h-9" />
        </button>
      </ng-container>
    </div>
  </div>
</div>
